@tailwind base;
@tailwind components;
@tailwind utilities;

label , input{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hero{
    background-image: url('../utilis/hero-banner.jpg');
}